.login-and-language {
    border: 1px solid gray;
    background-color: lightyellow;
    display: flex;
    justify-content: right; /* Add this line */
    align-items: center; /* Add this line */
    align-content: center; /* Add this line */
    padding: 10px;

}

.login-and-language ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    list-style-type: none;
    background-color: lightyellow;
}

/* This will apply to the first button */
.login-and-language ul li:first-child button {
    /* Add your styles here */
    background-color: blue;
    color: white;
}

/* This will apply to all buttons */
.login-and-language ul li button {
    /* Add your styles here */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}